<app-card>
  <card-title>
    <div class="flex items-start justify-between">
      <h5 class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white">
        Category Details
      </h5>
    </div>
  </card-title>
  <card-body>
    <div class="relative mt-5">
      <form class="space-y-6" action="#">
        <div>
          <label for="name" class="form-label">Category Name</label>
          <input type="text" name="name" id="name" class="form-control" placeholder="Category Name">
        </div>
        <div>
          <label for="name" class="form-label">Category Slug</label>
          <input type="text" name="name" id="name" class="form-control" placeholder="Category Slug">
        </div>
        <div class="flex items-start">
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input id="remember" type="checkbox" value=""
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300">
            </div>
            <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Publish</label>
          </div>
        </div>
        <button type="submit" class="btn btn-icon btn-blue me-2"><i class="ri-save-line ri-lg"></i> Save</button>
        <button type="submit" class="btn btn-icon btn-dark" routerLink="/user/category"><i
            class="ri-close-line ri-lg"></i> Cancel</button>
      </form>
    </div>

  </card-body>
</app-card>